.plans-list-container {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
  }
  
  .plan-title {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .song-table {
    width: 100%;
    margin-bottom: 20px;
    /* table-layout: fixed; */
  }
  
  .song-table th,
  .song-table td {
    text-align: left;
    padding: 10px;
    max-width: 20%;
  }
  
  .song-table th {
    background-color: #333;
    color: #fff;
  }
  
  .song-table td {
    background-color: #252525;
    color: #ddd;
  }
  
  .song-table tr:nth-child(even) td {
    background-color: #2e2e2e;
  }

  .td-checkbox {
    width: 10%;
  }
  .td-download{
    width: 10%;
  }
  .td-song,
  .td-category {
    width: 20%;
  }

  .download-icon {
    color: #00f;
    cursor: pointer;
  }

  .audio-player{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 0 10px 0 5px;
    position: relative;
  }

  .play-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    padding: 0;
  }
  .play-button:hover{
    background: none;
  }

  progress {
    width: 60%;
    height: 3px; 
    color: #00f;
    -webkit-appearance: none;
    appearance: none;
    margin-right: 7px;
    cursor: pointer;
  }

  progress::-webkit-progress-bar {
    background-color: #BBBBBB; 
  }
  
  progress::-webkit-progress-value {
    background-color: #00f;
  }
  
  /* For other browsers like Firefox */
  progress::-moz-progress-bar {
    background-color: #00f;
  }
  
  .audio-duration{
    font-size: 12px;
    color: black;
  }

  /* .volume-control-container svg{
    position: absolute;
  } */

  .volume-control {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;
  }

  .volume-icon {
    position: absolute;
    top: -25px;
    font-size: 12px;
  }

  .volume-slider {
    position: absolute;
    writing-mode: bt-lr; /* Make the slider vertical */
    -webkit-appearance: slider-vertical; /* For WebKit browsers */
    width: 8px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    opacity: 0; /* Hide initially */
    transition: opacity 0.3s;
    cursor: pointer;
    display: none;
  }
  
  .volume-control:hover .volume-slider {
    display: block;
    opacity: 0;
  }

  .download-all-btn {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
  }
  
  .download-all-btn:hover {
    background-color: #0056a3;
  }
  
  .footer-note {
    color: #aaa;
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  @media (max-width: 1024px) {
    .audio-duration{
      display: none;
    }
  }

  @media (max-width: 768px) {
    .song-table th,
    .song-table td {
      padding: 5px;
      font-size: 0.8em;
    }

    .play-button {
        background: none;
        border: none;
        color: #00f;
        cursor: pointer;
    }
  
    .download-all-btn {
      padding: 8px 15px;
      width: auto;
      font-size: 0.8em;
    }
  
    .footer-note {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 480px) {
    .song-table-container {
      overflow-x: auto;
    }
  }