.product-management-container {
    font-family: var(--font-family);
    color: #fff;
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.product-management-container h1 {
    font-family: var(--heading-font-family);
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

thead {
    background-color: #222;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

th {
    text-align: center;
}

.product_management__edit-btn,
.product_management__delete-btn {
    background-color: #007BFF;
    border: 1px solid #007BFF;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-family);
    font-size: 0.8em;
    font-weight: 500;
}

.product_management__edit-btn:hover,
.product_management__delete-btn:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.product_management__crud-buttons {
    display: flex;
    justify-content: space-evenly;
}

.create-product-btn {
    background-color: #007BFF;
    border: 1px solid #007BFF;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: var(--font-family);
    font-size: 1em;
    font-weight: 500;
}

.create-product-btn:hover {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.product-card {
    display: none; /* Hidden by default, will be shown in media query */
    background: #222;
    padding: 10px;
    margin-bottom: 10px;
}

.product-card__field {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .product-management-container {
      padding: 10px;
    }
  
    .product-management-container h1 {
      font-size: 2em; /* Smaller font size for the heading */
    }
  
    table {
      display: block;
      overflow-x: auto; /* Allows table to scroll horizontally on small screens */
    }
  
    th, td {
      white-space: nowrap; /* Ensures the content of table cells doesn't wrap */
    }
    
    .product_management__edit-btn,
    .product_management__delete-btn {
      font-size: 0.7em;
      width: 35%;
      padding: 5px;
      margin: 2px 0;
    }
  
    .create-product-btn {
      font-size: 0.9em;
      padding: 8px 10px;
    }
    
    .product-card {
        display: block; /* Show product card on small screens */
        text-align: left;
    }

    .product-card__field_crud-buttons {
        display: flex;
        justify-content: space-evenly;
    }
}
