#home_section4_container {
  background-image: url("../../images/music_bg.png");
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 8rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 90%;
  margin: 0 auto;
}
#home_section4 {
  display: flex;
  justify-content: space-evenly;
  /* max-width: 1000px; */
  margin: 5rem auto;
}
.Home_Section4_ProductCard_img {
  width: 21rem;
  bottom: 12.5rem;
  height: 23rem;
}
#product_buy_addtocart {
  color: white;
}
#product_buy_addtocart #quantity-left-in-stock{
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: red;
  font-size: 18px;
  font-weight: bolder;
}
#product_buy_addtocart h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.product-count p {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0 0.75rem;
}
#product_buy_addtocart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#product_buy_addtocart span {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}
#product_buy_addtocart > button:nth-of-type(1) {
  display: block;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  height: 2rem;
  width: 10rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#product_buy_addtocart > button:nth-of-type(2) {
  background-color: #004eeb;
  color: white;
  border: none;
  font-size: 1.25rem;
  height: 2rem;
  font-weight: 600;
  width: 10rem;
}
/* Media query for devices below 1024px */
@media (max-width: 1024px) {
  #product_buy_addtocart h1 {
    font-size: 2rem;
  }
  #product_buy_addtocart {
    font-size: 0.9rem;
  }
}
@media (max-width: 820px) {
  #product_buy_addtocart h1 {
    font-size: 1.5rem;
  }
  #product_buy_addtocart {
    font-size: 0.8rem;
  }
}
/* Media query for devices below 720px */
@media (max-width: 720px) {
  #home_section4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }
  #product_buy_addtocart {
    align-items: center;
  }
  #product_buy_addtocart > button:nth-of-type(1) {
    margin: 1rem auto 0.5rem auto;
  }
  #home_section4_container {
    padding-bottom: 0;
  }
}
