.faq-form-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}
.faq-form-heading{
    width: 50%;
    margin: auto;
}
.faq-form-heading h1{
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 4em;
    font-weight: 500;
}

.faq-form-heading .subheading {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    margin: 0 auto;
    max-width: 60%;
    margin-bottom: 3em;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 500;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
    width: 100%;
    padding: 1.5em;
    border: 1px solid #fff;
    background-color: #000; 
    color: #fff;
}

.input-group textarea {
    height: 15em;
    resize: vertical;
}

.faq-form-container button {
    padding: 20px 80px;
    background-color: blue; 
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 1.5em;
    color: #fff;
    border: none;
    cursor: pointer;
    float: left; 
    margin-right: 20px; 
}
#notice-after-button {
    clear: both;
    text-align: left;
    font-weight: bold;
    max-width: 55%;
    margin-top: 7em;
}

/* Responsive */
@media (max-width: 768px) {
    .faq-form-container {
        width: 95%;
    }

    .faq-form-container button {
        display: block;
        width: 100%; /* Full-width on mobile */
        margin-right: 0; /* Resetting the margin */
        margin-bottom: 10px; /* Some spacing from the bottom element */
    }
    .faq-form-heading{
        width: 100%;
    }
    .faq-form-heading h1{
        font-size: 3em;
    }
    #notice-after-button {
        max-width: 100%;
    }
    
}
