body {
  background-color: black; /* Replace with your exact background color */
  color: white;
  font-family: var(--font-family);
  
}


.signup-container {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  /* height: 100vh; */
  padding: 50px;
  
}

.signup-heading {
  font-size: 7em;
  font-weight: 400;
  font-family: var(--heading-font-family);
}

.signup-description {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1em;
  max-width: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  
}


.signup-form {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  justify-items: center;
  width: 90%;
  max-width: 65em; /* Adjust based on design */
}

.signup-input {
  background-color: transparent;
  border: 2px solid white;
  padding: 20px;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #fff;
}
.signup-input::placeholder {
  color: #fff;
  opacity: 1;
  font-family: var(--font-family);
}

.signup-button {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  padding: 15px 20px;
  font-weight: 900;
  font-family: var(--font-family);;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.signup-button:hover{
  border: solid 2px;
}

.signup-login-text {
  margin-top: 1em;
  font-size: 1em;
  font-family: var(--font-family);
  font-weight: bold;
}
.signup-login-text a {
  color: #9E9E9E;
  text-decoration: underline;
  font-weight: bold;
}
.signup-login-text a:hover {
  text-decoration: none;
}
.error-message {
  color: #ff3860; /* Example color, adjust as needed */
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: left;
  width: 100%;
}
.main-content-wrapper {
  padding-bottom: 60px; /* This should be the height of your footer to avoid overlapping content. Adjust as needed. */
}

.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.SuccessSvg{
  width: 35%;
}
.signupSuccessMessage{
  margin-bottom: 20px;
  font-family: var(--font-family);
}
/* Adjust font size for mobile screens */
@media (max-width: 480px) { /* This is a common breakpoint for mobile devices */
  .signup-description {
      font-size: 1em; /* Adjust this value as needed */
  }
  .break-onmobile {
    display: none;
  }
}
